@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@section bottom {
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Done">
        Works! Moving forward... <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

<p>
    Great, now Nakkitehdas can see what files they have!
</p>

<p>
    Client contacted you and said that your folder widget is great but it
    must have a file download and upload so that they can retrieve and add new
    files. You discussed with the client and they said that files should open in
    a new window when they are clicked. File upload should allow uploading
    any files to any open folder by dragging it over and then dropping.
</p>

<p>
    File download is easy &ndash; we just use Azure Blob's URL. For file upload,
    we're going to use our in-house HTML 5 file upload AngularJS widget (<code>upload.widget.js</code>).
    Your task is to integrate it to folder widget. Press <em>Works!</em>
    when you get files downloaded and uploaded.
</p>

<div class="code">
    <div ng-include="'/template/folder-structure.html'"></div>
</div>
