<!doctype html>
<html ng-app="Nakkitehdas">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kompozure Oy &ndash; coding test</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @if (IsSectionDefined("jumbotron"))
    {
        @RenderSection("jumbotron")
    }
    else
    {
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="~/Images/kompozure_logo_large.png" alt="" class="logo" />
                </div>
            </div>
        </nav>
    }

    <div class="container">
        @RenderBody()
    </div>

    @if (IsSectionDefined("bottom"))
    {
        <hr/>

        <p class="text-center">
            @RenderSection("bottom")
        </p>
    }

    <environment names="Development">
        <script src="~/lib/angularjs/angular.js"></script>
        <script src="~/js/directory.api.js" asp-append-version="true"></script>
        <script src="~/js/folder.widget.js" asp-append-version="true"></script>
        <script src="~/js/upload.widget.js" asp-append-version="true"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/angularjs/1.4.8/angular.min.js"
                asp-fallback-src="~/lib/angularjs/angular.min.js"
                asp-fallback-test="window.angular">

        </script>
        <script src="~/js/directory.api.min.js" asp-append-version="true"></script>
        <script src="~/js/folder.widget.min.js" asp-append-version="true"></script>
        <script src="~/js/upload.widget.min.js" asp-append-version="true"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
