<folder-structure>
 
        <folder ng-repeat="folder in items | filter:{IsFolder: true}">
            <a ng-click="isOpen = !isOpen">
                <i class="glyphicon"
                   ng-class="isOpen ? 'glyphicon-folder-open' : 'glyphicon-folder-close'"></i>

                {{folder.Name}}
            </a>

            <sub-folder-structure ng-if="isOpen" 
                                  template="/template/folder-structure.html"
                                  parent-id="{{folder.Name}}"
                                  ></sub-folder-structure>
        </folder>

        <file ng-repeat="file in items | filter:{IsFile: true}">
            <i class="glyphicon glyphicon-file"></i>
            {{file.Name}}
        </file>
 

</folder-structure>